.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .Active i {
    color: #6fbe9c;
  }

  #dropdownMenu {
    color: #111011;
    padding: 5px;
    text-align: right;
  }
  
  #dropdownItem {
    display: block;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #111011;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-align: right;
  }

  @media (max-width: 1199.98px) { 
    .NavLink {
      padding: 2px;
      font-size: 12px;
      font-weight: 800;
    }
   }